html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1280px) {
    font-size: 80%;

  }

  @media (max-width: 768px) {
    font-size: 60%;

  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1600px;
  font-family: Inter, sans-serif;
}

