.button {
  cursor:pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


.primary, .primary:visited {
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 #8C61FF59;

  &:active {
    background-color: var(--color-accent-700);
  }

  &:not(:active):hover {
    background-color: var(--color-accent-300);
  }

  &:disabled, &:disabled:hover, {
    background-color: var(--color-accent-900);
  }
}


.secondary {
  background-color: var(--color-dark-300);

  &:active {
    background-color: var(--color-dark-500);
  }

  &:not(:active):hover {
    background-color: var(--color-dark-100);
  }

  &:disabled, &:disabled:hover {
    opacity: 0.5;
    background-color: var(--color-dark-100);
  }
}


.tertiary {
  color: var(--gray-2);
 &:hover{
   filter: brightness(1.2)
 }
}


.link, .link:visited {
  display: inline-block;

  padding: 6px 16px;

  font-size: var(--font-size-m);
  color: var(--color-accent-500);
  text-decoration: none;

  &:active, &:active:visited {
    color: var(--color-accent-700);
  }

;

  &:focus {
    border-radvius: 20px;
  }

  &:hover {
    color: var(--color-accent-300);
  }

}





