.button {
  cursor:pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  &:hover{
    filter: brightness(1.2)
  }
}


.primary {
  padding: 8px 32px;
  border-radius: 8px;
  background-color: var(--blue);
}


.secondary {
  padding: 8px 32px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  &:hover{
    border-color: #A3A7BF;
  }
}


.tertiary {
  color: var(--gray-2);
}








