.button {
  @apply py-2 px-8 cursor-pointer flex gap-2.5 items-center justify-center hover:brightness-110 rounded-lg
}

@media (max-width: 920px) {
 .button {
   @apply p-1.5
 }
}


.primary {
  background-color: var(--blue);
}


.secondary {
  border: 1px solid var(--gray);
  &:hover{
    border-color: #A3A7BF;
  }
}


.tertiary {
  color: var(--gray-2);
}








