

@mixin heading-styles($color, $size, $weight, $line-height) {
  color: $color;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
}

.h1 {
  @include heading-styles(var(--black), 2rem, 600, 100%);
}

.h2 {
  @include heading-styles(var(--black), 1.25rem, 600, 120%);
}

.h3 {
  @include heading-styles(var(--black), 1rem, 400, 150%);
}

.tertiaryButton, .tertiaryButton:visited {
  @include heading-styles(var(--gray-2), 1rem, 500, 140%);
}

.secondaryButton, .secondaryButton:visited {
  @include heading-styles(var(--blue), 1rem, 600, 100%);
}

.primaryButton, .primaryButton:visited {
  @include heading-styles(var(--white), 1rem, 600, 100%);
}

.textDescription{
  @include heading-styles(var(--black), 1rem, 400, 150%);
}