@mixin typography {
  font-family: Inter;
}

@mixin heading-styles($color, $size, $weight, $line-height) {
  color: $color;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
}

.h1 {
  @include typography;
  @include heading-styles(var(--black), 32px, 600, 100%);
}

.h2 {
  @include typography;
  @include heading-styles(var(--black), 20px, 600, 120%);
}

.h3 {
  @include typography;
  @include heading-styles(var(--black), 16px, 400, 150%);
}

.tertiaryButton, .tertiaryButton:visited {
  @include typography;
  @include heading-styles(var(--gray-2), 16px, 500, 140%);
}

.secondaryButton, .secondaryButton:visited {
  @include typography;
  @include heading-styles(var(--blue), 16px, 600, 100%);
}

.primaryButton, .primaryButton:visited {
  @include typography;
  @include heading-styles(var(--white), 16px, 600, 100%);
}

.textDescription{
  @include typography;
  @include heading-styles(var(--black), 16px, 400, 150%);
  font-family: Inter;
}