

.round{
  @apply  justify-center w-6 h-6 rounded-full
}



.black {
  background-color: var(--black);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.purple {
  background-color: var(--purple);
}

.gray {
  background-color: var(--gray);
}

.white {
  border: 1px solid var(--gray-2);
  background-color: var(--white);
}